<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computer center</title>
    <link rel="stylesheet" href="./css/home.css">
    
</head>
<body>
    {{>header}}

    <div class="heading-primary">Discover more about Computer Science!</div>

    <section class="section-features">
        <div class="grid-container">
            <a href="select_menu_one">
                <div class="grid-item">
                <div class="item-title">
                    Computer Algorithm 
                </div>
            </div>
            </a>
            <a href="select_menu_two">
                <div class="grid-item">
                <div class="item-title">
                    Ditital Techniquies 
                </div>
            </div>
            </a>
            <a href="select_menu_three">
                <div class="grid-item">
                <div class="item-title">
                    Finite Automata
                </div>
            </div>
            </a>
            <a href="select_menu_four">
                <div class="grid-item">
                <div class="item-title">
                   Software Engineering
                </div>
            </div>
            </a>
            <a href="select_menu_five">
                <div class="grid-item">
                <div class="item-title">
                    Database 
                </div>
            </div>
            </a>
            <a href="select_menu_six">
                <div class="grid-item">
                <div class="item-title">
                    Microprocessor 
                </div>
            </div>
            </a>
            <a href="select_menu_seven">
                <div class="grid-item">
                <div class="item-title">
                    Data Communication
                </div>
            </div>
            </a>
            
            <a href="uploadFile">
                <div class="grid-item">
                <div class="item-title">
                   Upload file
                </div>
            </div>
            </a>
           {{!--  <a href="login">
                <div class="grid-item">
                <div class="item-title">
                    Data Structure
                </div>
            </div>
            </a> --}}
            
        </div>
    </section>
    {{>footer}}
</body>
</html>