*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to right bottom, rgba(208, 240, 235, 0.6), rgba(192, 229, 217, 0.6)), url(../img/signup_bg.jpg);
}
.wrapper{
    width: 500px;
    padding: 30px 10px;
    margin: 50px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 3px 3px 10px;
}
.heading{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 15px;
}
.space{
    margin-bottom: 30px;
}
form input{
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid pink;
    outline: none;
}
.submit-btn{
    width: 50%;
    font-size: 20px;
    margin: 20px auto;
    border: 0;
    border-radius: 20px;
    padding: 10px 0;
    background: gainsboro;
}
.submit-btn:hover{
    background: #7ed56f;
    color: white;
}