.video-section{
    margin: 1rem;
    background-color: #eee;
}

 .video-container{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
} 